root = true

[*.cs]

dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0042.severity = none
dotnet_diagnostic.CA1507.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CA2208.severity = none
dotnet_diagnostic.CA1822.severity = none